# Qui relit quoi : pour un fichier donné, c'est la dernière ligne qui correspond qui s'applique
/.github/     @ALAOUISOSSISARA @Amiraez20
/deploy/      @Amiraez20
/docs/        @lailaelamiri
/services/    @El-ouarzazi-aya
/frontend/    @El-ouarzazi-aya
