# Qui relit quoi (a completer avec les pseudos de l'equipe)
/.github/          @ALAOUISOSSISARA
/deploy/           @ALAOUISOSSISARA
/docs/security/    @ALAOUISOSSISARA
/services/         @ALAOUISOSSISARA
/frontend/         @ALAOUISOSSISARA
